# Effects of climate change on agriculture

We'll be visualizing trends in food production across different countries since 1960s to 2020 to assess the impact of climate change on different food crops.

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Introduction
(will insert some introduction here)


## Step 1: Downloading Data
We have acquired our dataset from AgroSphere (a project under NASA), let us start visualizing the data on emmissions.
We have 4 files (CSV) in the /data folder, as described:
+ countries.csv - Contains unique country codes which are used in emmissions and food production data
+ emissionAll.csv - Contains data from emissions from various sources (only agriculture.
+ FAOcrops.csv - Contains data from food productions (weight of crop in tonnes) of different countries.
+ yield.csv - Contains data from food productions (area of cultivated land in Ha) of different countries.

In [71]:
countries = pd.DataFrame(pd.read_csv('data/countries.csv'))
emissionall = pd.DataFrame(pd.read_csv('data/emissionAll.csv'))
cropsyield = pd.DataFrame(pd.read_csv('data/FAOcrops.csv'))
areayield = pd.DataFrame(pd.read_csv('data/yield.csv'))

## Step 2: Cleaning and selecting the data
The data is very big and unclean. It contains many information that we don't need so we'll be selecting only what we need and dropping the rest.

In [26]:
countries = countries.drop(['code2','Numeric code','lat','lon','iconCode'], axis=1)
countries.head(10)

               country code3
0              Albania   ALB
1              Algeria   DZA
2       American Samoa   ASM
3              Andorra   AND
4               Angola   AGO
5             Anguilla   AIA
6           Antarctica   ATA
7  Antigua and Barbuda   ATG
8            Argentina   ARG
9              Armenia   ARM

So, in the previous cell we removed all label that we didn't need and now we have only two columns - the country names and the code with us. This, looks good!

In [27]:
countryincludes = ['AFG','AUS','AUT','BGD','BRA','CHL','CHN','COG','FRA','GHA','IND','IDN','IRQ','JPN','JOR','MEX','NZL','KOR','REU','GBR','USA','VNM']
len(countryincludes)

22

This is the list of countries only which we would be focusing the project on - 22 for now. Let us find the country in our data.

In [28]:
countries[countries.code3.isin(countryincludes)]

                country code3
11            Australia   AUS
12              Austria   AUT
16           Bangladesh   BGD
28               Brazil   BRA
41                Chile   CHL
42                China   CHN
47                Congo   COG
71               France   FRA
79                Ghana   GHA
98                India   IND
99            Indonesia   IDN
101                Iraq   IRQ
107               Japan   JPN
109              Jordan   JOR
114  Korea, Republic of   KOR
139              Mexico   MEX
155         New Zealand   NZL
177             R'union   REU
227      United Kingdom   GBR
228       United States   USA
234            Viet Nam   VNM
242         Afghanistan   AFG

Now let us try our hands on the areayield dataset.
Let us first know the crops (unique values) and then shall we select what we need to use in future.

In [226]:
cropsyield.typeName.unique()

array(['Almonds, with shell Production in tonnes',
       'Anise, badian, fennel, coriander Production in tonnes',
       'Apples Production in tonnes', 'Apricots Production in tonnes',
       'Barley Production in tonnes', 'Berries nes Production in tonnes',
       'Cotton lint Production in tonnes',
       'Cottonseed Production in tonnes', 'Figs Production in tonnes',
       'Fruit, citrus nes Production in tonnes',
       'Fruit, fresh nes Production in tonnes',
       'Fruit, stone nes Production in tonnes',
       'Grapes Production in tonnes', 'Linseed Production in tonnes',
       'Maize Production in tonnes',
       'Melons, other (inc.cantaloupes) Production in tonnes',
       'Millet Production in tonnes', 'Nuts, nes Production in tonnes',
       'Olives Production in tonnes', 'Oranges Production in tonnes',
       'Peaches and nectarines Production in tonnes',
       'Pears Production in tonnes', 'Pistachios Production in tonnes',
       'Plums and sloes Production in tonnes',
       'Potatoes Production in tonnes',
       'Pulses, nes Production in tonnes',
       'Rice, paddy Production in tonnes',
       'Seed cotton Production in tonnes',
       'Sesame seed Production in tonnes',
       'Sugar beet Production in tonnes',
       'Sugar cane Production in tonnes',
       'Sunflower seed Production in tonnes',
       'Vegetables, fresh nes Production in tonnes',
       'Walnuts, with shell Production in tonnes',
       'Watermelons Production in tonnes', 'Wheat Production in tonnes',
       'Cereals (Rice Milled Eqv) Production in tonnes',
       'Cereals,Total Production in tonnes',
       'Citrus Fruit,Total Production in tonnes',
       'Coarse Grain, Total Production in tonnes',
       'Fibre Crops Primary Production in tonnes',
       'Fruit excl Melons,Total Production in tonnes',
       'Oilcakes Equivalent Production in tonnes',
       'Oilcrops Primary Production in tonnes',
       'Pulses,Total Production in tonnes',
       'Roots and Tubers,Total Production in tonnes',
       'Treenuts,Total Production in tonnes',
       'Vegetables Primary Production in tonnes',
       'Vegetables&Melons, Total Production in tonnes',
       'Beans, dry Production in tonnes',
       'Beans, green Production in tonnes',
       'Broad beans, horse beans, dry Production in tonnes',
       'Cabbages and other brassicas Production in tonnes',
       'Carrots and turnips Production in tonnes',
       'Cauliflowers and broccoli Production in tonnes',
       'Cherries Production in tonnes',
       'Cherries, sour Production in tonnes',
       'Chestnut Production in tonnes',
       'Chillies and peppers, green Production in tonnes',
       'Cucumbers and gherkins Production in tonnes',
       'Dates Production in tonnes',
       'Eggplants (aubergines) Production in tonnes',
       'Garlic Production in tonnes', 'Hops Production in tonnes',
       'Leeks, other alliaceous vegetables Production in tonnes',
       'Lemons and limes Production in tonnes',
       'Lettuce and chicory Production in tonnes',
       'Mushrooms and truffles Production in tonnes',
       'Oats Production in tonnes', 'Oil, palm Production in tonnes',
       'Okra Production in tonnes', 'Onions, dry Production in tonnes',
       'Onions, shallots, green Production in tonnes',
       'Peas, green Production in tonnes',
       'Pumpkins, squash and gourds Production in tonnes',
       'Quinces Production in tonnes', 'Rye Production in tonnes',
       'Sorghum Production in tonnes', 'Soybeans Production in tonnes',
       'Spices, nes Production in tonnes', 'Spinach Production in tonnes',
       'Tangerines, mandarins, clementines, satsumas Production in tonnes',
       'Tobacco, unmanufactured Production in tonnes',
       'Tomatoes Production in tonnes',
       'Vegetables, leguminous nes Production in tonnes',
       'Vetches Production in tonnes', 'Artichokes Production in tonnes',
       'Bananas Production in tonnes', 'Carobs Production in tonnes',
       'Cassava Production in tonnes', 'Chick peas Production in tonnes',
       'Chillies and peppers, dry Production in tonnes',
       'Fruit, tropical fresh nes Production in tonnes',
       'Grapefruit (inc. pomelos) Production in tonnes',
       'Groundnuts, with shell Production in tonnes',
       'Lentils Production in tonnes', 'Peas, dry Production in tonnes',
       'Rapeseed Production in tonnes',
       'Strawberries Production in tonnes',
       'Triticale Production in tonnes',
       'Cocoa, beans Production in tonnes',
       'Coconuts Production in tonnes',
       'Maize, green Production in tonnes',
       'Pineapples Production in tonnes',
       'Taro (cocoyam) Production in tonnes', 'Yams Production in tonnes',
       'Bastfibres, other Production in tonnes',
       'Cashew nuts, with shell Production in tonnes',
       'Castor oil seed Production in tonnes',
       'Coffee, green Production in tonnes',
       'Flax fibre and tow Production in tonnes',
       'Oil, palm fruit Production in tonnes',
       'Palm kernels Production in tonnes', 'Sisal Production in tonnes',
       'Sweet potatoes Production in tonnes',
       'Jute & Jute-like Fibres Production in tonnes',
       'Mangoes, mangosteens, guavas Production in tonnes',
       'Asparagus Production in tonnes', 'Avocados Production in tonnes',
       'Canary seed Production in tonnes',
       'Cereals, nes Production in tonnes',
       'Fibre crops nes Production in tonnes',
       'Lupins Production in tonnes', 'Mat� Production in tonnes',
       'Oilseeds nes Production in tonnes',
       'Papayas Production in tonnes', 'Peppermint Production in tonnes',
       'Safflower seed Production in tonnes',
       'String beans Production in tonnes', 'Tea Production in tonnes',
       'Tung nuts Production in tonnes',
       'Hazelnuts, with shell Production in tonnes',
       'Blueberries Production in tonnes',
       'Cow peas, dry Production in tonnes',
       'Currants Production in tonnes', 'Kiwi fruit Production in tonnes',
       'Mustard seed Production in tonnes',
       'Persimmons Production in tonnes',
       'Raspberries Production in tonnes',
       'Buckwheat Production in tonnes',
       'Gooseberries Production in tonnes',
       'Grain, mixed Production in tonnes',
       'Hemp tow waste Production in tonnes',
       'Poppy seed Production in tonnes',
       'Cranberries Production in tonnes',
       'Pigeon peas Production in tonnes',
       'Plantains and others Production in tonnes',
       'Areca nuts Production in tonnes', 'Coir Production in tonnes',
       'Ginger Production in tonnes', 'Jute Production in tonnes',
       'Rubber, natural Production in tonnes',
       'Sugar crops, nes Production in tonnes',
       'Fruit, pome nes Production in tonnes',
       'Chicory roots Production in tonnes',
       'Vanilla Production in tonnes',
       'Roots and tubers, nes Production in tonnes',
       'Yautia (cocoyam) Production in tonnes',
       'Fonio Production in tonnes',
       'Karite nuts (sheanuts) Production in tonnes',
       'Kola nuts Production in tonnes', 'Melonseed Production in tonnes',
       'Pepper (piper spp.) Production in tonnes',
       'Nutmeg, mace and cardamoms Production in tonnes',
       'Brazil nuts, with shell Production in tonnes',
       'Pyrethrum, dried Production in tonnes',
       'Quinoa Production in tonnes', 'Cashewapple Production in tonnes',
       'Gums, natural Production in tonnes', 'Ramie Production in tonnes',
       'Cassava leaves Production in tonnes',
       'Hempseed Production in tonnes',
       'Bambara beans Production in tonnes',
       'Cinnamon (canella) Production in tonnes',
       'Cloves Production in tonnes',
       'Tallowtree seed Production in tonnes',
       'Agave fibres nes Production in tonnes',
       'Manila fibre (abaca) Production in tonnes',
       'Kapok fibre Production in tonnes',
       'Kapok fruit Production in tonnes',
       'Kapokseed in shell Production in tonnes',
       'Jojoba seed Production in tonnes'], dtype=object)

Now that we'll select only 10 crops to move forward with (This will make our work easier). If we want more we can change them later.

In [30]:
cropsincludes = ['Apples Production in tonnes',
                'Maize Production in tonnes',
                'Fruit, fresh nes Production in tonnes',
                'Potatoes Production in tonnes',
                'Rice, paddy Production in tonnes',
               'Vegetables Primary Production in tonnes',
               'Pulses, Total Production in tonnes',
               'Poppy seed Production in tonnes',
               'Sugar beet Production in tonnes',
               'Coffee, green Production in tonnes']
print("Total number of crops = ",len(cropsincludes))
cropsincludes

Total number of crops =  10

['Apples Production in tonnes',
 'Maize Production in tonnes',
 'Fruit, fresh nes Production in tonnes',
 'Potatoes Production in tonnes',
 'Rice, paddy Production in tonnes',
 'Vegetables Primary Production in tonnes',
 'Pulses, Total Production in tonnes',
 'Poppy seed Production in tonnes',
 'Sugar beet Production in tonnes',
 'Coffee, green Production in tonnes']

In [227]:
selectcrops = cropsyield[cropsyield.typeName.isin(cropsincludes)].copy()
selectcrops.index = range(len(selectcrops))
selectcrops = selectcrops[selectcrops.code3.isin(countryincludes)]
## We also need to eliminate data from countries we don't need!
selectcrops

,code3,typeName,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,AFG,Apples Production in tonnes,15100.0,15100.0,15100.0,18400.0,20400.0,22800.0,27600.0,27900.0,...,19992.0,52500.0,59500.0,57343.0,72765.0,59850.0,62041.0,70000.0,78597.0,89403.0
1,AFG,"Fruit, fresh nes Production in tonnes",71200.0,69000.0,71000.0,89000.0,98600.0,110900.0,138400.0,138400.0,...,100251.0,106366.0,107886.0,96000.0,126195.0,100956.0,58891.0,61995.0,63292.0,63375.0
2,AFG,Maize Production in tonnes,700000.0,700000.0,713000.0,720000.0,720000.0,720000.0,768000.0,773000.0,...,315000.0,359000.0,360000.0,360000.0,300000.0,301000.0,300120.0,310000.0,312000.0,316000.0
3,AFG,Potatoes Production in tonnes,130000.0,115000.0,122000.0,129000.0,132000.0,136000.0,147000.0,150000.0,...,300000.0,300000.0,300800.0,280000.0,302400.0,246000.0,205000.0,230000.0,302980.0,340257.0
4,AFG,"Rice, paddy Production in tonnes",319000.0,319000.0,319000.0,380000.0,380000.0,337000.0,396000.0,402000.0,...,485000.0,540000.0,552000.0,612000.0,645000.0,672000.0,672000.0,500000.0,512094.0,537000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,VNM,"Fruit, fresh nes Production in tonnes",860000.0,860000.0,860000.0,860000.0,925000.0,925000.0,925000.0,925000.0,...,2750000.0,2800000.0,2700000.0,2750000.0,2800000.0,2802046.0,2809600.0,2800000.0,2800000.0,2848747.0
1027,VNM,Maize Production in tonnes,292200.0,314085.0,253840.0,319600.0,319100.0,256500.0,253000.0,262000.0,...,3787100.0,3854500.0,4303200.0,4573100.0,4371700.0,4606800.0,4835717.0,4973482.0,5190895.0,5202511.0
1028,VNM,Potatoes Production in tonnes,40000.0,45000.0,50000.0,50000.0,55000.0,60000.0,72000.0,85000.0,...,370000.0,370000.0,372000.0,380000.0,388000.0,354445.0,311604.0,403717.0,313383.0,321700.0
1029,VNM,"Rice, paddy Production in tonnes",8997400.0,9747040.0,9622670.0,9697030.0,9369700.0,8463500.0,9188400.0,8366150.0,...,35832900.0,35849500.0,35942700.0,38729800.0,38950200.0,40005600.0,42398344.0,43737598.0,44040457.0,44974206.0
1030,VNM,Vegetables Primary Production in tonnes,1784000.0,1828000.0,1868500.0,1909500.0,1951500.0,1990500.0,2028800.0,2068800.0,...,8014137.0,8066100.0,8021802.0,7993209.0,8114602.0,8640356.0,7568440.0,13773705.0,17101781.0,17950576.0

**Wooho! Great so far.**

Now, we'll go forward with this new data with selected parameters. And do similiar things with areayield.

In [35]:
areayield.typeName.unique()

array(['Almonds, with shell yield in hg/ha',
       'Anise, badian, fennel, coriander yield in hg/ha',
       'Apples yield in hg/ha', 'Apricots yield in hg/ha',
       'Barley yield in hg/ha', 'Berries nes yield in hg/ha',
       'Figs yield in hg/ha', 'Fruit, citrus nes yield in hg/ha',
       'Fruit, fresh nes yield in hg/ha',
       'Fruit, stone nes yield in hg/ha', 'Grapes yield in hg/ha',
       'Linseed yield in hg/ha', 'Maize yield in hg/ha',
       'Melons, other (inc.cantaloupes) yield in hg/ha',
       'Millet yield in hg/ha', 'Nuts, nes yield in hg/ha',
       'Olives yield in hg/ha', 'Oranges yield in hg/ha',
       'Peaches and nectarines yield in hg/ha', 'Pears yield in hg/ha',
       'Pistachios yield in hg/ha', 'Plums and sloes yield in hg/ha',
       'Potatoes yield in hg/ha', 'Pulses, nes yield in hg/ha',
       'Rice, paddy yield in hg/ha', 'Seed cotton yield in hg/ha',
       'Sesame seed yield in hg/ha', 'Sugar beet yield in hg/ha',
       'Sugar cane yield in hg/ha', 'Sunflower seed yield in hg/ha',
       'Vegetables, fresh nes yield in hg/ha',
       'Walnuts, with shell yield in hg/ha', 'Watermelons yield in hg/ha',
       'Wheat yield in hg/ha', 'Cereals (Rice Milled Eqv) yield in hg/ha',
       'Cereals,Total yield in hg/ha',
       'Citrus Fruit,Total yield in hg/ha',
       'Coarse Grain, Total yield in hg/ha',
       'Fibre Crops Primary yield in hg/ha',
       'Fruit excl Melons,Total yield in hg/ha',
       'Oilcakes Equivalent yield in hg/ha',
       'Oilcrops Primary yield in hg/ha', 'Pulses,Total yield in hg/ha',
       'Roots and Tubers,Total yield in hg/ha',
       'Treenuts,Total yield in hg/ha',
       'Vegetables Primary yield in hg/ha',
       'Vegetables&Melons, Total yield in hg/ha',
       'Beans, dry yield in hg/ha', 'Beans, green yield in hg/ha',
       'Broad beans, horse beans, dry yield in hg/ha',
       'Cabbages and other brassicas yield in hg/ha',
       'Carrots and turnips yield in hg/ha',
       'Cauliflowers and broccoli yield in hg/ha',
       'Cherries yield in hg/ha', 'Cherries, sour yield in hg/ha',
       'Chestnut yield in hg/ha',
       'Chillies and peppers, green yield in hg/ha',
       'Cucumbers and gherkins yield in hg/ha', 'Dates yield in hg/ha',
       'Eggplants (aubergines) yield in hg/ha', 'Garlic yield in hg/ha',
       'Hops yield in hg/ha',
       'Leeks, other alliaceous vegetables yield in hg/ha',
       'Lemons and limes yield in hg/ha',
       'Lettuce and chicory yield in hg/ha', 'Oats yield in hg/ha',
       'Okra yield in hg/ha', 'Onions, dry yield in hg/ha',
       'Onions, shallots, green yield in hg/ha',
       'Peas, green yield in hg/ha',
       'Pumpkins, squash and gourds yield in hg/ha',
       'Quinces yield in hg/ha', 'Rye yield in hg/ha',
       'Sorghum yield in hg/ha', 'Soybeans yield in hg/ha',
       'Spices, nes yield in hg/ha', 'Spinach yield in hg/ha',
       'Tangerines, mandarins, clementines, satsumas yield in hg/ha',
       'Tobacco, unmanufactured yield in hg/ha',
       'Tomatoes yield in hg/ha',
       'Vegetables, leguminous nes yield in hg/ha',
       'Vetches yield in hg/ha', 'Artichokes yield in hg/ha',
       'Bananas yield in hg/ha', 'Carobs yield in hg/ha',
       'Chick peas yield in hg/ha',
       'Chillies and peppers, dry yield in hg/ha',
       'Grapefruit (inc. pomelos) yield in hg/ha',
       'Groundnuts, with shell yield in hg/ha', 'Lentils yield in hg/ha',
       'Peas, dry yield in hg/ha', 'Rapeseed yield in hg/ha',
       'Triticale yield in hg/ha', 'Cassava yield in hg/ha',
       'Cocoa, beans yield in hg/ha', 'Coconuts yield in hg/ha',
       'Maize, green yield in hg/ha', 'Taro (cocoyam) yield in hg/ha',
       'Yams yield in hg/ha', 'Bastfibres, other yield in hg/ha',
       'Cashew nuts, with shell yield in hg/ha',
       'Castor oil seed yield in hg/ha', 'Coffee, green yield in hg/ha',
       'Oil, palm fruit yield in hg/ha', 'Pineapples yield in hg/ha',
       'Sisal yield in hg/ha', 'Sweet potatoes yield in hg/ha',
       'Jute & Jute-like Fibres yield in hg/ha',
       'Fruit, tropical fresh nes yield in hg/ha',
       'Mangoes, mangosteens, guavas yield in hg/ha',
       'Asparagus yield in hg/ha', 'Avocados yield in hg/ha',
       'Canary seed yield in hg/ha', 'Cereals, nes yield in hg/ha',
       'Fibre crops nes yield in hg/ha',
       'Flax fibre and tow yield in hg/ha', 'Lupins yield in hg/ha',
       'Mat� yield in hg/ha', 'Papayas yield in hg/ha',
       'Safflower seed yield in hg/ha', 'Strawberries yield in hg/ha',
       'String beans yield in hg/ha', 'Tea yield in hg/ha',
       'Tung nuts yield in hg/ha', 'Hazelnuts, with shell yield in hg/ha',
       'Cow peas, dry yield in hg/ha', 'Currants yield in hg/ha',
       'Kiwi fruit yield in hg/ha',
       'Mushrooms and truffles yield in hg/ha',
       'Mustard seed yield in hg/ha', 'Persimmons yield in hg/ha',
       'Raspberries yield in hg/ha', 'Buckwheat yield in hg/ha',
       'Gooseberries yield in hg/ha', 'Grain, mixed yield in hg/ha',
       'Hemp tow waste yield in hg/ha', 'Oilseeds nes yield in hg/ha',
       'Poppy seed yield in hg/ha', 'Cranberries yield in hg/ha',
       'Pigeon peas yield in hg/ha',
       'Plantains and others yield in hg/ha', 'Areca nuts yield in hg/ha',
       'Ginger yield in hg/ha', 'Jute yield in hg/ha',
       'Rubber, natural yield in hg/ha',
       'Sugar crops, nes yield in hg/ha', 'Chicory roots yield in hg/ha',
       'Roots and tubers, nes yield in hg/ha',
       'Yautia (cocoyam) yield in hg/ha', 'Fonio yield in hg/ha',
       'Karite nuts (sheanuts) yield in hg/ha',
       'Kola nuts yield in hg/ha', 'Pepper (piper spp.) yield in hg/ha',
       'Nutmeg, mace and cardamoms yield in hg/ha',
       'Quinoa yield in hg/ha', 'Cashewapple yield in hg/ha',
       'Ramie yield in hg/ha', 'Blueberries yield in hg/ha',
       'Hempseed yield in hg/ha', 'Peppermint yield in hg/ha',
       'Bambara beans yield in hg/ha', 'Melonseed yield in hg/ha',
       'Cinnamon (canella) yield in hg/ha', 'Cloves yield in hg/ha',
       'Tallowtree seed yield in hg/ha', 'Vanilla yield in hg/ha',
       'Agave fibres nes yield in hg/ha', 'Cassava leaves yield in hg/ha',
       'Manila fibre (abaca) yield in hg/ha',
       'Pyrethrum, dried yield in hg/ha', 'Kapok fruit yield in hg/ha',
       'Jojoba seed yield in hg/ha', 'Cotton lint yield in hg/ha',
       'Brazil nuts, with shell yield in hg/ha',
       'Fruit, pome nes yield in hg/ha'], dtype=object)

In [39]:
areaincludes = ['Apples yield in hg/ha',
                'Maize yield in hg/ha',
                'Fruit, fresh nes yield in hg/ha',
                'Potatoes yield in hg/ha',
                'Rice, paddy yield in hg/ha',
               'Vegetables Primary yield in hg/ha',
               'Pulses, Total yield in hg/ha',
               'Poppy seed yield in hg/ha',
               'Sugar beet yield in hg/ha',
               'Coffee, green yield in hg/ha']
print("Total number of crops = ", len(areaincludes))
areaincludes

Total number of crops =  10

['Apples yield in hg/ha',
 'Maize yield in hg/ha',
 'Fruit, fresh nes yield in hg/ha',
 'Potatoes yield in hg/ha',
 'Rice, paddy yield in hg/ha',
 'Vegetables Primary yield in hg/ha',
 'Pulses, Total yield in hg/ha',
 'Poppy seed yield in hg/ha',
 'Sugar beet yield in hg/ha',
 'Coffee, green yield in hg/ha']

In [67]:
selectarea = areayield[areayield.typeName.isin(areaincludes)]
selectarea.index = range(len(selectarea))
selectarea = selectarea[selectarea.code3.isin(countryincludes)]
selectarea

,code3,typeName,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,AFG,Apples yield in hg/ha,68018.0,68018.0,68018.0,78298.0,82258.0,83212.0,90196.0,93311.0,...,72672.0,75000.0,85000.0,81919.0,85105.0,70000.0,70000.0,76519.0,76005.0,73000.0
1,AFG,"Fruit, fresh nes yield in hg/ha",51153.0,50109.0,52129.0,60544.0,63984.0,66607.0,71047.0,75299.0,...,99235.0,103347.0,107886.0,120000.0,150000.0,120000.0,70000.0,73690.0,74902.0,75000.0
2,AFG,Maize yield in hg/ha,14000.0,14000.0,14260.0,14257.0,14400.0,14400.0,14144.0,17064.0,...,12069.0,26204.0,26277.0,26277.0,21429.0,16448.0,16400.0,21986.0,21972.0,24882.0
3,AFG,Potatoes yield in hg/ha,86667.0,76667.0,81333.0,86000.0,88000.0,90667.0,98000.0,100000.0,...,150000.0,150000.0,150400.0,140000.0,140000.0,120000.0,100000.0,109524.0,131960.0,136054.0
4,AFG,"Rice, paddy yield in hg/ha",15190.0,15190.0,15190.0,17273.0,17273.0,15180.0,19223.0,19515.0,...,30313.0,33750.0,32471.0,32211.0,32250.0,32308.0,32000.0,24390.0,24980.0,24409.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,VNM,"Fruit, fresh nes yield in hg/ha",86000.0,86000.0,86000.0,86000.0,88095.0,88095.0,88095.0,88095.0,...,122222.0,121739.0,117391.0,117021.0,117441.0,117445.0,117367.0,116667.0,116667.0,117521.0
1104,VNM,Maize yield in hg/ha,11230.0,11987.0,9307.0,12436.0,11503.0,9589.0,11000.0,10962.0,...,35979.0,37310.0,39259.0,31753.0,40137.0,40899.0,43128.0,43019.0,44354.0,44140.0
1105,VNM,Potatoes yield in hg/ha,133333.0,150000.0,166667.0,166667.0,137500.0,150000.0,180000.0,170000.0,...,105714.0,105714.0,103333.0,105556.0,104865.0,120448.0,137810.0,146352.0,135800.0,140954.0
1106,VNM,"Rice, paddy yield in hg/ha",18966.0,19937.0,21400.0,19441.0,19414.0,18079.0,19159.0,17095.0,...,48891.0,48943.0,49869.0,52336.0,52372.0,53416.0,55383.0,56353.0,55728.0,57538.0
1107,VNM,Vegetables Primary yield in hg/ha,88492.0,90183.0,90792.0,92730.0,93588.0,94498.0,91363.0,92909.0,...,119130.0,125112.0,131937.0,139937.0,145971.0,148046.0,144662.0,155629.0,165268.0,167622.0

We are done with cleaning and selecting the crop production and yield for the crops (10) we need and for the countries (22) we need.

**Now let us come to cleaning emissions data.**

In [70]:
emissionall

,code3,typeName,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,AFG,Cereals excluding rice Emissions (CO2eq) gigag...,402.2165,408.3269,385.7396,406.7923,410.0940,392.3671,410.4523,415.6880,...,540.4174,513.3178,558.5772,399.9802,622.9562,569.4834,502.1896,930.8129,765.7361,754.5742
1,AFG,"Rice, paddy Emissions (CO2eq) gigagrams",665.5675,665.5675,665.5675,699.3576,699.3576,703.5647,660.1999,662.6412,...,528.8122,541.7134,564.2252,626.8125,664.4793,689.6050,703.0602,752.4373,708.0396,747.5037
2,AFG,"Meat, cattle Emissions (CO2eq) gigagrams",1576.9262,1791.9616,1806.2973,1842.1366,1813.4652,1892.3115,1820.6330,1829.9512,...,804.9492,938.9879,972.6768,1035.7538,1018.5510,1270.8592,1235.7367,891.6801,856.5577,875.2105
3,AFG,"Milk, whole fresh cow Emissions (CO2eq) gigagrams",1172.1377,1172.1377,1306.0963,1306.0963,1456.7998,1607.5032,1774.9514,1808.4411,...,4353.6544,4688.5509,5023.4474,5525.7922,5525.7922,6530.4817,6363.0334,6697.9299,6764.9092,6912.2253
4,AFG,"Meat, goat Emissions (CO2eq) gigagrams",717.8808,693.8384,607.4048,543.4226,454.2740,454.2740,428.6811,407.9935,...,1008.1470,969.5444,666.9083,879.9692,757.1233,970.1842,1116.4903,1068.7168,1026.0620,1032.4997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,VNM,"Meat, buffalo Emissions (CO2eq) gigagrams",3959.0307,3987.9648,4135.1052,4197.7369,4118.5210,4239.9031,4054.4779,4059.4179,...,5099.0251,5096.3871,5228.2493,5055.8798,5034.5320,5019.3593,4728.2541,4579.7252,4461.0354,4375.0942
1983,VNM,"Milk, whole fresh buffalo Emissions (CO2eq) gi...",14.1142,14.1142,14.1142,14.1142,17.6427,17.6427,21.1713,21.1713,...,56.4568,57.0570,58.2210,56.4568,58.2210,56.4568,56.4568,56.4568,54.6925,56.5855
1984,VNM,"Meat, chicken Emissions (CO2eq) gigagrams",85.7415,94.4821,135.6879,107.8011,124.8662,109.4660,107.8011,118.6229,...,440.9317,395.5095,446.1885,504.0848,566.0580,630.9963,648.5550,635.7599,678.4771,711.6590
1985,VNM,"Eggs, hen, in shell Emissions (CO2eq) gigagrams",84.5900,86.3898,88.1896,91.1892,95.9886,98.9883,101.9879,95.9886,...,287.9659,331.1368,305.9638,311.9631,383.9545,399.5527,419.9503,425.9496,428.9492,449.9276
1986,VNM,"Meat, pig Emissions (CO2eq) gigagrams",1349.4545,1355.5942,1470.1958,1549.0702,1556.3588,1575.0792,1546.0381,1648.7745,...,5166.9377,5057.7800,5002.2966,5028.8330,5203.2496,5155.3373,5095.5787,4989.7200,4946.4946,5040.1331

First let us segregate country wise.

In [78]:
countryemission = emissionall[emissionall.code3.isin(countryincludes)]
countryemission

,code3,typeName,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,AFG,Cereals excluding rice Emissions (CO2eq) gigag...,402.2165,408.3269,385.7396,406.7923,410.0940,392.3671,410.4523,415.6880,...,540.4174,513.3178,558.5772,399.9802,622.9562,569.4834,502.1896,930.8129,765.7361,754.5742
1,AFG,"Rice, paddy Emissions (CO2eq) gigagrams",665.5675,665.5675,665.5675,699.3576,699.3576,703.5647,660.1999,662.6412,...,528.8122,541.7134,564.2252,626.8125,664.4793,689.6050,703.0602,752.4373,708.0396,747.5037
2,AFG,"Meat, cattle Emissions (CO2eq) gigagrams",1576.9262,1791.9616,1806.2973,1842.1366,1813.4652,1892.3115,1820.6330,1829.9512,...,804.9492,938.9879,972.6768,1035.7538,1018.5510,1270.8592,1235.7367,891.6801,856.5577,875.2105
3,AFG,"Milk, whole fresh cow Emissions (CO2eq) gigagrams",1172.1377,1172.1377,1306.0963,1306.0963,1456.7998,1607.5032,1774.9514,1808.4411,...,4353.6544,4688.5509,5023.4474,5525.7922,5525.7922,6530.4817,6363.0334,6697.9299,6764.9092,6912.2253
4,AFG,"Meat, goat Emissions (CO2eq) gigagrams",717.8808,693.8384,607.4048,543.4226,454.2740,454.2740,428.6811,407.9935,...,1008.1470,969.5444,666.9083,879.9692,757.1233,970.1842,1116.4903,1068.7168,1026.0620,1032.4997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,VNM,"Meat, buffalo Emissions (CO2eq) gigagrams",3959.0307,3987.9648,4135.1052,4197.7369,4118.5210,4239.9031,4054.4779,4059.4179,...,5099.0251,5096.3871,5228.2493,5055.8798,5034.5320,5019.3593,4728.2541,4579.7252,4461.0354,4375.0942
1983,VNM,"Milk, whole fresh buffalo Emissions (CO2eq) gi...",14.1142,14.1142,14.1142,14.1142,17.6427,17.6427,21.1713,21.1713,...,56.4568,57.0570,58.2210,56.4568,58.2210,56.4568,56.4568,56.4568,54.6925,56.5855
1984,VNM,"Meat, chicken Emissions (CO2eq) gigagrams",85.7415,94.4821,135.6879,107.8011,124.8662,109.4660,107.8011,118.6229,...,440.9317,395.5095,446.1885,504.0848,566.0580,630.9963,648.5550,635.7599,678.4771,711.6590
1985,VNM,"Eggs, hen, in shell Emissions (CO2eq) gigagrams",84.5900,86.3898,88.1896,91.1892,95.9886,98.9883,101.9879,95.9886,...,287.9659,331.1368,305.9638,311.9631,383.9545,399.5527,419.9503,425.9496,428.9492,449.9276
1986,VNM,"Meat, pig Emissions (CO2eq) gigagrams",1349.4545,1355.5942,1470.1958,1549.0702,1556.3588,1575.0792,1546.0381,1648.7745,...,5166.9377,5057.7800,5002.2966,5028.8330,5203.2496,5155.3373,5095.5787,4989.7200,4946.4946,5040.1331

Before that let us see how categorical emissions are spread countries.

In [106]:
for i in set(countryemission.typeName.values):
    print(i, np.count_nonzero(countryemission.typeName.values[countryemission.typeName.values == i]))

Meat, cattle Emissions (CO2eq) gigagrams 22
Rice, paddy Emissions (CO2eq) gigagrams 18
Meat, sheep Emissions (CO2eq) gigagrams 21
Eggs, hen, in shell Emissions (CO2eq) gigagrams 22
Meat, goat Emissions (CO2eq) gigagrams 20
Cereals excluding rice Emissions (CO2eq) gigagrams 22
Meat, pig Emissions (CO2eq) gigagrams 18
Meat, chicken Emissions (CO2eq) gigagrams 22
Meat, buffalo Emissions (CO2eq) gigagrams 6
Milk, whole fresh goat Emissions (CO2eq) gigagrams 14
Milk, whole fresh buffalo Emissions (CO2eq) gigagrams 5
Milk, whole fresh sheep Emissions (CO2eq) gigagrams 8
Milk, whole fresh camel Emissions (CO2eq) gigagrams 3
Milk, whole fresh cow Emissions (CO2eq) gigagrams 22

We can see that some categorical emissions are not available for some countries, so in order to visualize and calculate total emissions we'll rank them on equal grounds and drop categories which are not applicable for most.

We are going to select only those emissions which are present in more than 70% of countries i.e at least 16 countries.

In [108]:
emissionincludes = ['Meat, cattle Emissions (CO2eq) gigagrams','Rice, paddy Emissions (CO2eq) gigagrams',
                    'Meat, sheep Emissions (CO2eq) gigagrams','Eggs, hen, in shell Emissions (CO2eq) gigagrams',
                    'Meat, goat Emissions (CO2eq) gigagrams','Cereals excluding rice Emissions (CO2eq) gigagrams',
                   'Meat, pig Emissions (CO2eq) gigagrams','Meat, chicken Emissions (CO2eq) gigagrams',
                   'Milk, whole fresh cow Emissions (CO2eq) gigagrams']

print("We have a total of {0} to be included in future use. ".format(len(emissionincludes)))

We have a total of 9 to be included in future use.

In [126]:
selectemission = countryemission[countryemission.typeName.isin(emissionincludes)]
selectemission.index = range(len(selectemission))
selectemission

,code3,typeName,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,AFG,Cereals excluding rice Emissions (CO2eq) gigag...,402.2165,408.3269,385.7396,406.7923,410.0940,392.3671,410.4523,415.6880,...,540.4174,513.3178,558.5772,399.9802,622.9562,569.4834,502.1896,930.8129,765.7361,754.5742
1,AFG,"Rice, paddy Emissions (CO2eq) gigagrams",665.5675,665.5675,665.5675,699.3576,699.3576,703.5647,660.1999,662.6412,...,528.8122,541.7134,564.2252,626.8125,664.4793,689.6050,703.0602,752.4373,708.0396,747.5037
2,AFG,"Meat, cattle Emissions (CO2eq) gigagrams",1576.9262,1791.9616,1806.2973,1842.1366,1813.4652,1892.3115,1820.6330,1829.9512,...,804.9492,938.9879,972.6768,1035.7538,1018.5510,1270.8592,1235.7367,891.6801,856.5577,875.2105
3,AFG,"Milk, whole fresh cow Emissions (CO2eq) gigagrams",1172.1377,1172.1377,1306.0963,1306.0963,1456.7998,1607.5032,1774.9514,1808.4411,...,4353.6544,4688.5509,5023.4474,5525.7922,5525.7922,6530.4817,6363.0334,6697.9299,6764.9092,6912.2253
4,AFG,"Meat, goat Emissions (CO2eq) gigagrams",717.8808,693.8384,607.4048,543.4226,454.2740,454.2740,428.6811,407.9935,...,1008.1470,969.5444,666.9083,879.9692,757.1233,970.1842,1116.4903,1068.7168,1026.0620,1032.4997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,VNM,"Milk, whole fresh cow Emissions (CO2eq) gigagrams",24.2932,24.2932,26.7225,26.7225,29.1518,32.5529,34.9822,32.6744,...,252.9409,275.0356,354.4379,262.3254,280.6303,286.6599,291.5185,308.5237,369.2568,374.8115
183,VNM,"Meat, goat Emissions (CO2eq) gigagrams",32.1801,33.2528,34.3255,34.9691,36.4708,37.5435,40.7615,40.7615,...,281.9193,327.2290,381.3559,318.2614,295.0128,276.3953,271.9864,288.2571,299.1911,343.3137
184,VNM,"Meat, chicken Emissions (CO2eq) gigagrams",85.7415,94.4821,135.6879,107.8011,124.8662,109.4660,107.8011,118.6229,...,440.9317,395.5095,446.1885,504.0848,566.0580,630.9963,648.5550,635.7599,678.4771,711.6590
185,VNM,"Eggs, hen, in shell Emissions (CO2eq) gigagrams",84.5900,86.3898,88.1896,91.1892,95.9886,98.9883,101.9879,95.9886,...,287.9659,331.1368,305.9638,311.9631,383.9545,399.5527,419.9503,425.9496,428.9492,449.9276
186,VNM,"Meat, pig Emissions (CO2eq) gigagrams",1349.4545,1355.5942,1470.1958,1549.0702,1556.3588,1575.0792,1546.0381,1648.7745,...,5166.9377,5057.7800,5002.2966,5028.8330,5203.2496,5155.3373,5095.5787,4989.7200,4946.4946,5040.1331

Fine, now let us create a new dataframe (we can't construct a numpy array since we have heterogenous data) that contains cumulative figures of emissions for every country for every year with select emissions.

In [224]:
cumemission = pd.DataFrame(data=np.zeros((22,56)), columns=selectemission.columns)

# first let us insert country codes in cumemission -> cumulative emission.
cumemission.at[:,'code3'] = selectemission.code3.unique()
cumemission.at[:,'typeName'] = "Total emissions (CO2eq) giga"

## An empty array first, we'll add up emissions, year-wise for each country and store temporary value here.
arr = np.zeros([1,54])
for i in range(len(cumemission.code3)):
    for j in range(2,56):
        # to add the emissions per country per year. the sum for each year will be stored in a new array.
        arr[0,j-2] = np.sum(selectemission[selectemission.code3==cumemission.code3[i]].iloc[:,j:j+1].values)
    # now let us update our dataframe with the cumulative values for each year
    cumemission.at[i:i , '1961':] = arr[0]

Phew! That was quite a complex loop. Now let us see if how does the cumulative data for emissions looks like.

In [222]:
cumemission

,code3,typeName,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,AFG,Total emissions (CO2eq) giga,6885.7310,7107.7665,7132.1979,7168.2532,7278.1348,7823.5971,7785.3317,7979.3527,...,8363.4006,8620.7858,8110.6622,9342.6085,9832.4809,11381.2585,11414.8868,11779.4238,11370.4718,11659.6418
1,AUS,Total emissions (CO2eq) giga,89090.0569,92403.7869,93869.2530,96766.2748,97845.0959,92499.4523,95050.3737,98582.6840,...,101572.7538,97348.9365,94444.5868,91496.7516,90687.2766,87219.2598,93790.4086,94792.9850,96670.2839,96182.6188
2,AUT,Total emissions (CO2eq) giga,7926.6443,8131.1910,8044.2959,7838.8466,7975.5536,8073.6385,8338.0864,8400.9394,...,6507.9305,6422.0504,6328.4397,6437.8537,6332.5697,6455.4712,6473.3282,6315.5958,6264.3948,6303.6497
3,BGD,Total emissions (CO2eq) giga,37332.0343,38316.4501,39765.7318,41678.4903,41674.9078,41781.1183,44259.6147,44434.8724,...,56636.1736,57604.9059,57605.5242,60834.1430,60370.1489,61071.5201,62057.9634,61411.7431,60620.5438,60638.2549
4,BRA,Total emissions (CO2eq) giga,112822.9183,116285.5312,120642.4140,125034.5859,129951.8365,133118.6594,137703.3903,142324.7338,...,387393.0150,384931.3508,378097.7311,382249.3362,389556.2715,398678.7456,407033.7404,403335.9530,403515.4715,405071.0393
5,CHL,Total emissions (CO2eq) giga,6925.9889,6962.8952,6896.4999,6983.0525,7054.6801,7241.9384,7527.2505,7193.1138,...,9969.5113,9825.1890,9670.7458,9998.3261,9928.2939,9850.4420,9535.8606,9568.4844,8240.9406,7956.2392
6,CHN,Total emissions (CO2eq) giga,224964.5485,226469.0764,237088.4534,252668.0792,263716.0500,274379.0981,278043.0281,278623.2811,...,533771.1873,546675.2763,554012.8220,560622.6871,567621.4445,576235.3760,565158.5918,568688.8543,570495.8975,579494.6594
7,COG,Total emissions (CO2eq) giga,63.3334,64.8623,70.7873,75.2544,72.9848,69.5540,66.8513,73.0808,...,346.7065,404.4089,463.6252,496.6970,488.8522,511.6318,521.7515,525.7223,528.5413,530.0933
8,FRA,Total emissions (CO2eq) giga,59305.4919,61740.3773,60846.1651,60488.2206,61433.1111,62219.5569,64593.6960,66125.4776,...,60165.4598,60112.8314,60584.1453,60995.9529,59859.3297,59269.8234,57822.1165,59522.0176,58124.7927,59707.5683
9,GHA,Total emissions (CO2eq) giga,1115.4108,1206.0178,1284.4736,1489.8119,1557.4962,1603.8849,1721.7987,1803.4876,...,3813.0693,3999.3339,4040.5752,4195.2929,4423.4383,4601.5946,4732.3756,5035.3265,5263.5996,5466.9916
10,IND,Total emissions (CO2eq) giga,256704.9861,255962.9350,255865.5108,258315.4877,254789.7131,260439.9945,262495.8869,266231.7213,...,357678.7572,364322.1878,373747.3617,378155.7939,369305.5021,374209.8498,379129.9529,373856.9621,375817.5034,372728.0295
11,IDN,Total emissions (CO2eq) giga,44863.8611,47355.8117,44608.8311,45901.8056,48155.6106,50058.2993,48721.2004,53883.1893,...,94752.0005,95167.0732,99010.3639,101999.7738,107623.1063,110202.2398,113734.9548,117934.9525,115663.3797,120173.9890
12,IRQ,Total emissions (CO2eq) giga,4152.3607,4313.7628,4351.7317,4447.3278,4481.2881,4690.7659,5133.4994,5506.7298,...,4172.5736,3989.8845,4069.0659,4499.6079,5673.0836,5637.9015,6038.1267,6202.5027,6446.2299,6530.0664
13,JPN,Total emissions (CO2eq) giga,23920.2782,24371.8712,24444.4972,24393.9697,24131.4212,23931.5708,24404.9122,24886.6943,...,19676.3963,19551.5733,19523.2529,19227.2349,19104.8010,19051.5599,18103.9593,18036.0658,18485.9823,18120.0563
14,JOR,Total emissions (CO2eq) giga,219.4647,270.3687,251.7585,275.9599,311.5972,332.9332,224.4640,222.7856,...,448.2343,396.1754,493.8349,502.8299,510.6852,406.9734,424.8111,408.1456,509.2080,455.0816
15,MEX,Total emissions (CO2eq) giga,34406.8343,35354.1584,37281.4733,39118.8555,40938.0374,43254.5126,44458.4738,45238.3320,...,68288.6834,68376.3486,69281.4958,69316.2048,70344.9084,71344.1050,71566.9524,70995.7695,71908.6707,73287.0828
16,NZL,Total emissions (CO2eq) giga,30598.0564,31121.8835,31752.9588,32131.0183,33110.8473,35118.8275,37049.8810,38335.7979,...,36782.2552,37051.4070,36689.6113,35646.3231,35891.5794,35835.8105,35541.5803,36041.1570,36063.2380,36244.8732
17,KOR,Total emissions (CO2eq) giga,8089.0408,8363.8448,8595.2256,8698.7069,8914.9208,9039.7612,9123.8848,8667.7187,...,11357.1237,11261.2099,11627.3658,11686.7989,11901.5102,12133.0960,11769.7995,12379.4408,11932.3509,11710.9765
18,REU,Total emissions (CO2eq) giga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,142.1345,143.5812,144.9074,147.2031,145.5814,136.8265,137.7614,141.1760,141.5403,144.7445
19,GBR,Total emissions (CO2eq) giga,42790.8065,41428.1128,41166.1846,41252.6179,42420.3466,42912.3567,43381.4297,42672.2383,...,39971.2332,39431.2587,38512.4704,37888.2125,37214.7678,37221.8783,36943.3053,36879.0433,37227.0694,38078.5212
20,USA,Total emissions (CO2eq) giga,274350.6879,282241.6054,290188.2878,294431.3891,296398.5246,295882.3195,301135.7455,302185.6043,...,304767.2160,307064.7140,311189.7613,309945.6226,304326.3615,306139.7028,305986.0555,307441.1490,305869.3937,304729.7023
21,VNM,Total emissions (CO2eq) giga,23284.1357,23941.0599,22672.9065,24627.2090,23946.5950,23187.1087,23877.2442,24273.9500,...,50332.1083,51388.3140,52097.2722,51828.7472,54668.5289,52577.3308,51647.8897,52675.5747,55475.1285,54413.6470

**Great work! Pat on your back 👍**

Now let me summarize the outcomes of the cleaning process.

We have the following dataframes and lists now:
+ DataFrames: *all data year-wise
    - `selectcrops` : country vs crop production in tonnes.
    - `selectarea` : country vs crop yield area in hg/ha.
    - `selectemission` : country vs categorical emissions.
    - `cumemission` : country vs cumulative emissions.
+ Lists:
    - `countryincludes` : selected countries
    - `cropsincludes` : list of selected crops (based on production in tonnes).
    - `areaincludes` : list of selected crops (based on yield in hg/ha).
    - `emissionincludes` : list of emissions categories shortlisted.

## To do

We are pending with visualization, here are some ideas that **can** be taken up for visualization.
+ `country` vs `crops - food production` : to identify prime food crop
+ `crop - production` vs `country` : to identify major producer of a crop
+ `crop production` vs `total emission` : to find trends between prodution and climate change.
+ `yield area` vs `total emission` : how yield area is affected by emissions. This is the focus area of our project.
+ `crop production` vs `categorical emissions` : to see which emissions are how much correlated to crop production. can use heatmaps here.

**The most amazing the visualization ideas would be, the more interesting the project would come up.**

**All the best!**