# Effects of climate change on agriculture

We'll be visualizing trends in food production across different countries since 1960s to 2020 to assess the impact of climate change on different food crops.

In [1]:
import pandas as pd

## Introduction
(will insert some introduction here)

## Step 1: Downloading Data
We have acquired our dataset from AgroSphere (a project under NASA), let us start visualizing the data on emmissions.
We have 4 files (CSV) in the /data folder, as described:
+ countries.csv - Contains unique country codes which are used in emmissions and food production data
+ emissionAll.csv - Contains data from emissions from various sources (only agriculture.
+ FAOcrops.csv - Contains data from food productions (weight of crop in tonnes) of different countries.
+ yield.csv - Contains data from food productions (area of cultivated land in Ha) of different countries.

In [12]:
countries = pd.DataFrame(pd.read_csv('data/countries.csv'))
emissionall = pd.DataFrame(pd.read_csv('data/emissionAll.csv'))
cropsyield = pd.DataFrame(pd.read_csv('data/FAOcrops.csv'))
areayield = pd.DataFrame(pd.read_csv('data/yield.csv'))

## Step 2: Cleaning and selecting the data
The data is very big and unclean. It contains many information that we don't need so we'll be selecting only what we need and dropping the rest.

In [23]:
#countries = countries.drop(['code2','Numeric code','lat','lon','iconCode'], axis=1)
countries.head(10)

               country code3
0              Albania   ALB
1              Algeria   DZA
2       American Samoa   ASM
3              Andorra   AND
4               Angola   AGO
5             Anguilla   AIA
6           Antarctica   ATA
7  Antigua and Barbuda   ATG
8            Argentina   ARG
9              Armenia   ARM

So, in the previous cell we removed all label that we didn't need and now we have only two columns - the country names and the code with us. This, looks good!

In [34]:
countryincludes = ['AFG','AUS','AUT','BGD','BRA','CHL','CHN','COG','FRA','GHA','IND','IDN','IRQ','JPN','JOR','MEX','NZL','KOR','REU','GBR','USA','VNM']
len(countryincludes)

22

This is the list of countries only which we would be focusing the project on - 22 for now. Let us find the country in our data.

In [35]:
countries[countries.code3.isin(countryincludes)]

                country code3
11            Australia   AUS
12              Austria   AUT
16           Bangladesh   BGD
28               Brazil   BRA
41                Chile   CHL
47                Congo   COG
71               France   FRA
79                Ghana   GHA
98                India   IND
99            Indonesia   IDN
101                Iraq   IRQ
107               Japan   JPN
109              Jordan   JOR
114  Korea, Republic of   KOR
139              Mexico   MEX
155         New Zealand   NZL
177             R'union   REU
227      United Kingdom   GBR
228       United States   USA
234            Viet Nam   VNM
242         Afghanistan   AFG